[submodule "vendor/jquery"]
	path = vendor/jquery
	url = git://github.com/jquery/jquery.git
[submodule "vendor/blueprint-css"]
	path = vendor/blueprint-css
	url = git://github.com/joshuaclayton/blueprint-css.git
[submodule "vendor/twinkie"]
	path = vendor/twinkie
	url = git://github.com/bigeasy/twinkie.git
[submodule "vendor/reactor"]
	path = vendor/reactor
	url = git@bled.prettyrobots.com:reactor.git
